.input {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;
    font-size: 16px;
    letter-spacing: normal;
    max-width: 100%;
    text-align: left;
    height: 100px;
}

.input-field {
    width: 80%;
    height: 100%;
    padding: 0 0 0 8px;
    position: relative;
    textarea {
        width: 100%;
        height:100%;
        padding: 10px;
        box-sizing: border-box;
        border: solid 1px #1E90FF;
        border-radius: 5px;
        font-size: 16px;
        resize: none;
    }
    textarea:focus {
        border: solid 2px #1E90FF;
    }
    .disabled:disabled {
        background-color: #eeeeee !important;
        border: solid 2px #efefef !important;
    }
    .readonly:read-only {
        background-color: #FFE0B2 !important;
        border: solid 2px #FFCC80 !important;
    }
}

.input-count {
    position: absolute;
    bottom: 2px;
    right: 10px;
}

.input-button {
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}