.card {
    box-shadow: 
        0 3px 1px -2px rgb(0 0 0 / 20%),
        0 2px 2px 0 rgb(0 0 0 / 14%),
        0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    overflow: hidden;
}

.card-horizontal {
    display: flex;
    flex-direction: row;
}

.card-image-wrapper {
    width: 100%;
    padding-top: 40%;
    position: relative;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    .card-image {
        position: absolute;
        top: 0;
        left: 0;
        background-position: center center;
        background-size: cover;
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
        width: 100%;
        height: 100%;
    }
}

.card-image-wrapper-horizontal {
    border-top-right-radius: 0px !important;
    width: 40%;
    padding-top: 40%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    padding: 8px 16px 8px 16px;
}

.card-text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    padding: 8px 16px 8px 16px;
}

.card-rating {
    padding: 8px 16px 8px 16px;
    img {
        width: 20px;
        height: 20px;
    }
}